

/* ------------------ DOCUMENT CLASSES -------------------- */

body{
	margin: 0;
	background-color: var(--lightGrey);
	font-family: 'Poppins', sans-serif;
}

/* -------- COLOURS -------- */
:root{
	--black: #171717;
	--darkGrey: #444444;
	--lightGrey: #EDEDED;
	--red: #DA0037;
}



/* ------------------ WELCOME SCREEN -------------------- */

#sec-header{
	display: block;
}

#div-header{
	width: 100%;
	background-color: var(--darkGrey);
	height: 5vh;
}

#div-header h3{
	color: var(--lightGrey);
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	padding: 0.5% 0% 0% 0%;
}

#div-heading{
	position: relative;
	height: 90vh;
	display: block;
}

#div-heading h2{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	text-align: center;
  	transform: translate(-50%, -50%);
  	line-height: 200%;
}



/* ------------------ KEYCODE SCREEN -------------------- */


#sec-info{
	display: none;
}

h1{
	color: var(--red);
	font-size: 7rem;
	padding: 4% 0 3% 0;
	text-align: center;
	margin: 0;
}



.flex-container{
	display: flex;
	flex-direction: row;
	max-width: 100%;
	padding: 1% 0 1% 0;
	justify-content: space-evenly;
	align-items: center;
}


@media all and (max-width: 700px){
	.flex-container{
		flex-direction: column;
	}
	.flex-item{
		min-width: 80%;
	}
}

.flex-item{
	margin: 0 2% 1% 2%;
	width: 30%;
}



.info-para-title{
	background-color: var(--red);
	color: var(--lightGrey);
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
	padding: 2%;
	text-align: center;
}

.info-h3{
	background-color: var(--darkGrey);
	color: var(--lightGrey);
	font-size: 3rem;
	margin: 0;
	padding: 5%;
	text-align: center;

}

.info-para-desc{
	background-color: var(--black);
	color: var(--lightGrey);
	margin: 0;
	padding: 5%;
	margin: 0%;
	height: 20vh;
}




